.container {
  .dark {
    .container {
      outline-color: rgba(45, 45, 45, 1);

      .header {
        .left {
          .walletId {
            color: rgba(188, 188, 188, 1);
          }
        }
      }

      .content {
        .title {
          color: rgba(255, 255, 255, 1);
        }

        .description {
          color: rgba(188, 188, 188, 1);
        }
      }

      .tagList {
        .tag {
          background: #484848;
          color: white;
        }
      }

      .footer {
        .left {
          .text {
            color: rgba(109, 109, 109, 1);
          }
        }

        .right {
          .text {
            color: rgba(188, 188, 188, 1);
          }
        }
      }
    }
  }

  .container {
    width: 319px;
    height: 360px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid var(--border);
    border-radius: 8px;
    //background: var(--darkbackground);
    box-shadow: 0px 3px 7px -5px rgba(0, 0, 0, 0.15),
      0px 4px 12px 0px rgba(0, 0, 0, 0.05);
    transition: all ease-in-out 0.3s;
    outline: 1.5px solid var(--lightline);
    align-items: center;
    margin-left: 2px;
    margin-right: 20px;
    z-index: 0;

    &:hover {
      outline: 2px solid var(--darkblue);
    }

    .productImage {
      position: relative;
      align-self: center;
      max-width: 258px;
      max-height: 250px;
      overflow: hidden;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      margin-top: 50px;
      //outline: 1.5px solid var(--lightline);
    }

    .content {
      padding: 10px 20px;

      .title {
        font-size: 20px;
        color: #252525;
      }

      .description {
        font-size: 14px;
        color: #484848;
        margin-top: 10px;
      }
    }
  }
}
