.dark {
  .container {
    background-color: #0d1117;
  }
}

.container {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 150px;
  margin-left: 25px;
  margin-right: 25px;

  .centerColumn {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1100px;
    height: 100%;

    .contentGrid {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 6px;

      /* .right {
        display: flex;
        flex-direction: column;
        justify-items: center;
        gap: 0px;
        width: 320px;
      } */
    }
  }
}
