.light {
  .container {
    background-color: #fff;
  }

  .line {
    background-color: var(--lightline);
  }
}

.dark {
  .container {
    background-color: #1C1C1C;
  }

  .line {
    background-color: rgba(45, 45, 45, 1);
  }
}

.container {
  max-width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow-y: hidden;
  padding-left: 25px;
  padding-right: 25px;

  .menuContainer {
  width: 225px; // Comece com a largura do menu em 0 para escondê-lo
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  padding: 25px;
  background: #131313;
  z-index: 1;
  overflow-x: hidden;
  animation: open 0.3s ease-in-out forwards;

  &.closeMenu {
    animation: close 0.3s ease-in-out forwards;
  }

  @keyframes open {
    0% {
      transform: translateX(-200px);
    }

    100% {
      transform: translateX(0px);
    }
  }

  @keyframes close {
    0% {
      transform: translateX(0px);
    }

    100% {
      transform: translateX(-200px);
    }
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    transition: 0.3s;

    :is(div) {
      cursor: pointer;
      filter: brightness(1.2);
    }
  }

  .optionsContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .option {
      width: 100%;
      height: 50px;
      display: flex;
      padding: 10px;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      border: 1px solid #9747FF;

      font-family: Consolas;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      color: #9747FF;
      transition: 0.3s;

      &:hover {
        cursor: pointer;
        background: #9747FF;
        color: #fff;
      }
    }
  }

  .policy {
    width: 100%;
    display: flex;
    justify-content: center;
    color: #FFF;
    font-family: Consolas;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    cursor: pointer;
  }
}

  .limitedContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;

    .logoContainer {
      display: flex;
      align-items: center;
      gap: 10px;

      .menu {
        transition: 0.3s;
        margin-top: 8px;

        &:hover {
          cursor: pointer;
          filter: brightness(0.8);
        }
      }

      .logo {
        cursor: pointer;
        transition: 0.4s;
        padding-top: 10px;

        &:hover {
          filter: brightness(1.2);
        }
      }
    }

    .userOptions {
      display: flex;
      flex-direction: row;
      gap: 10px;

      .connectButton {
        cursor: pointer;
        padding: 10px 25px;
        background: var(--darkblue);
        color: white;
        border-radius: 10px;
        text-align: center;
        transition: 0.4s;
        overflow: hidden;

        &:hover {
          background-color: white;
          outline: 1px solid var(--darkblue);
          color: var(--darkblue);
        }
      }

      .lightMode {
        cursor: pointer;
        padding: 10px 12px;
        border-radius: 10px;
        background-color: black;

        .limitWidth {
          max-width: 20px;
          max-height: 20px;
          overflow-x: visible;
        }
      }

      .darkMode {
        cursor: pointer;
        padding: 10px 12px;
        border-radius: 10px;
        background-color: white;

        .limitWidth {
          transform: scale(1.2);
          max-width: 20px;
          max-height: 20px;
          overflow-x: visible;
        }
      }
    }
  }
}
